/* html {
    background: transparent url("../images/background.png") repeat;
} */

body,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", "Roboto", sans-serif;
}

.transform-none {
  text-transform: none !important;
}

.uc {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize !important;
}

.underline {
  text-decoration: underline;
}

.mgt-s {
  margin-top: 4px;
}

.mgl-ss {
  margin-left: 2px;
}

.mgl-s {
  margin-left: 4px;
}

.mgl-m {
  margin-left: 8px;
}

.mgr-s {
  margin-right: 4px;
}

.mgr-m {
  margin-right: 8px;
}

.rn-padding {
  padding: 8px;
}

.rn-padding-vertical {
  padding: 8px 0;
}

.rn-padding-horizontal {
  padding: 0 8px;
}

.border-left-muted {
  border-left: 1px solid #999;
  padding-left: 8px;
}

.border-left-success {
  border-left: 1px solid #32d296;
  padding-left: 8px;
}

.border-left-warning {
  border-left: 1px solid #faa05a;
  padding-left: 8px;
}

.border-left-danger {
  border-left: 1px solid #f0506e;
  padding-left: 8px;
}

.rn-text-color {
  color: #222;
}

a:hover {
  text-decoration: none;
}

.uk-navbar-nav>li>a {
  min-height: auto;
  padding: 8px;
}

.separator {
  height: 4px;
}

.rn-form-check-label {
  line-height: 1.8;
}

/* copy
.uk-background-primary {
  background-color: #1e87f0;
}

.uk-background-secondary {
  background-color: #222;
}
*/

.uk-background-muted {
  background-color: #ddd;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content {
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}