<div class="uk-margin-bottom uk-animation-toggle" tabindex="0">
    {% comment %} {% include 'base/lead.html' with title='水' caption='6/23' %} {% endcomment %}

    <a href="{% url 'airs:detail' nanitozo.air.id %}" class="uk-display-block uk-link-reset uk-animation-slide-bottom-small border-left-muted">

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <span class="mgr-s uk-text-small">{{ nanitozo.user.last_name }}</span>
            <span uk-icon="icon: comment; ratio: 0.7" class="mgr-s"></span>
            <span uk-icon="icon: happy; ratio: 0.7" class="mgr-s"></span>
            <span uk-icon="icon: star; ratio: 0.7" class="mgr-s"></span>
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-expand uk-text-truncate uk-text-small">
                <span class="mgr-s">水</span><span class="mgr-s">12/16</span><span class="mgr-s">24:00</span><span class="mgr-s">120<small>min</small></span><span class="mgr-s">{{ nanitozo.air.broadcaster.abbreviation }}</span>
            </h5>
            {% include 'airs/reactions.html' with recommend_count='99' favorite_count='99' review_count='99' listener_count='99' %}
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h4 class="uk-width-expand uk-text-truncate uk-text-small">{{ nanitozo.air.name }}</h4>
            <div class="mgl-s uk-text-small">999pt</div>
        </div>
    </a>
</div>