{% load rn_datetime %}
<div class="rn-padding-card-list uk-flex uk-flex-middle">
    <div class="rn-padding uk-background-default uk-width-expand{% if user.is_authenticated and nanitozo.user.last_name == user.last_name%} border-left-success{% endif %}">
        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h2 class="uk-width-auto uk-text-default uk-margin-remove">
                <a href="{% url 'airs:user' nanitozo.user.id %}">{{ nanitozo.user.last_name }}</a>
            </h2>
            <div class="uk-width-auto mgl-m">
                <small>{{ nanitozo.created_at|rn_ymdhm }}</small>
                {% comment %} <small>{{ nanitozo.updated_at|rn_ymdhm }}</small> {% endcomment %}
            </div>
        </div>

        {% if nanitozo.good %}
        <h3 class="uk-text-small mgt-s mgb-0">
            <span uk-icon="icon: happy" class="uk-icon mgr-s"></span>満足！
        </h3>
        {% endif %}

        {% if nanitozo.comment_recommend %}
        {% include 'base/block_comment.html' with header='推し' icon='star' comment=nanitozo.comment_recommend %}
        {% endif %}

        {% if nanitozo.comment %}
        {% include 'base/block_comment.html' with header='感想' icon='comment' comment=nanitozo.comment %}
        {% endif %}

        {% if nanitozo.comment_negative %}
        {% include 'base/block_comment.html' with header='ネガ' icon='paint-bucket'  comment=nanitozo.comment_negative is_negative=True %}
        {% endif %}
    </div>
</div>