{% load rn_datetime %}
{% with adt=air.started|init_rn_datetime:air.ended %}


<div class="uk-margin-bottom uk-animation-toggle" tabindex="0">
    {% include 'base/lead.html' with title=adt.weekday caption=adt.md %}

    <a href="{% url 'airs:detail' air.id %}" class="uk-display-block uk-link-reset uk-animation-slide-bottom-small border-left-muted">

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-expand uk-text-truncate uk-text-small">
                <span class="mgr-s">{{ adt.hm }}</span><span class="mgr-s">{{ adt.airtime }}<small>min</small></span><span class="mgr-s">{{ air.broadcaster.abbreviation }}</span>
            </h5>
            {% include 'airs/reactions.html' with recommend_count='99' favorite_count='99' review_count='99' listener_count='99' %}
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h4 class="uk-width-expand uk-text-truncate uk-text-small">{{ air.name }}</h4>
            <div class="mgl-s uk-text-small">999pt</div>
        </div>
    </a>
</div>

{% endwith %}