{% load rn_datetime %}
{% with adt=nanitozo.air.started|init_rn_datetime:nanitozo.air.ended ndt=nanitozo.created|init_rn_datetime:nanitozo.updated %}


<div class="uk-margin-bottom uk-animation-toggle" tabindex="0">
    {% include 'base/lead.html' with title=ndt.weekday caption=ndt.md %}

    <a href="{% url 'airs:detail' nanitozo.air.id %}" class="uk-display-block uk-link-reset uk-animation-slide-bottom-small border-left-muted">

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-expand uk-text-truncate uk-text-small">
                <span class="mgr-s">{{ nanitozo.user.last_name }}</span>
                <span uk-icon="icon: comment; ratio: 0.7" class="mgr-s"></span><span uk-icon="icon: happy; ratio: 0.7" class="mgr-s"></span><span uk-icon="icon: star; ratio: 0.7" class="mgr-s"></span>
            </h5>
            <span class="mgr-s uk-text-small">{{ ndt.hm }}</span>
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h4 class="uk-width-expand uk-text-truncate uk-text-small">{{ nanitozo.air.name }}</h4>
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-expand uk-text-truncate uk-text-small">
                {{ adt.md }}_{{ adt.weekday }}_{{ adt.hm }}
                <span class="mgr-s">{{ nanitozo.air.broadcaster.abbreviation }}</span>
            </h5>
        </div>
    </a>
</div>

{% endwith %}