{% load air_nanitozo %}
{% load rn_datetime %}
{% with adt=air.started_at|init_rn_datetime:air.ended_at air_nanitozo_icon_list=air|air_nanitozo_icon_list:user nanitozo_done=air|air_nanitozo_done:user %}

<div id="modal-air{{air.id}}" uk-modal>
    <div class="uk-modal-dialog">
        {% include 'airs/air_detail_navbar.html' with air=air %}
        {% include 'airs/air_detail_header_block.html' with air=air %}
        {% include 'airs/air_detail_nanitozo_block.html' with air=air  %}
    </div>
</div>

<div class="toggle-block-air{{air.id}}" hidden>

</div>

<div class="uk-margin-bottom uk-animation-toggle uk-grid-collapse" tabindex="0" uk-grid>

    <a href="{{ air.get_absolute_url }}" class="uk-width-expand uk-display-block uk-link-reset uk-animation-slide-bottom-small{% if nanitozo_done.good_done or nanitozo_done.comment_done %} border-left-success{% elif nanitozo_done.nanitozo_done %} border-left-muted{% endif %}">

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-auto uk-text-small">
                <span class="mgr-s">{{ adt.hm }}</span><span class="mgr-s">{{ adt.airtime }}<small>min</small></span><span class="mgr-s">{{ air.broadcaster.abbreviation }}</span>
            </h5>
            <div class="uk-width-expand uk-text-right mgl-m">
                {% for nanitozo_icon in air_nanitozo_icon_list %}<span uk-icon="{{ nanitozo_icon.0.value }}" class="uk-icon{% if nanitozo_icon.1 %} uk-text-success{% endif %}"></span>{% endfor %}
            </div>

            {% comment %} アイコンを重ねて表示したいけど上手くいかないので後回し {% endcomment %}
            {% comment %} <div class="uk-position-relative">
                <span uk-icon="icon: user" class="uk-icon uk-position-absolute uk-background-default"></span>
                <span uk-icon="icon: user" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:12px"></span>
                <span uk-icon="icon: user" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:24px"></span>
                <span uk-icon="icon: happy" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:36px"></span>
                <span uk-icon="icon: happy" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:48px"></span>
                <span uk-icon="icon: happy" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:60px"></span>
                <span uk-icon="icon: star" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:72px"></span>
                <span uk-icon="icon: star" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:84px"></span>
                <span uk-icon="icon: star" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:96px"></span>
                <span uk-icon="icon: comment" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:108px"></span>
                <span uk-icon="icon: comment" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:120px"></span>
                <span uk-icon="icon: comment" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:132px"></span>
                <span uk-icon="icon: paint-bucket" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:144px"></span>
                <span uk-icon="icon: paint-bucket" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:156px"></span>
                <span uk-icon="icon: paint-bucket" class="uk-icon uk-position-absolute uk-background-default" style="margin-left:168px"></span>
            </div> {% endcomment %}

        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h4 class="uk-width-expand uk-text-truncate uk-text-small">{{ air.name }}</h4>
        </div>
    </a>

    {% comment %} 右端配置アイコン {% endcomment %}
    <a href="#modal-air{{air.id}}" uk-toggle><span uk-icon="icon: expand" class="uk-text-primary"></span></a>
</div>

{% endwith %}