{% comment %} 放送一覧のモーダルと放送詳細の上部の共通パーツ {% endcomment %}
{% comment %} headerタグのみっぽいファイル名だけど放送概要まで入れ込んだ {% endcomment %}
{% load air_nanitozo %}
{% load rn_const %}
{% load rn_datetime %}

{% with adt=air.started_at|init_rn_datetime:air.ended_at air_nanitozo_icon_list=air|air_nanitozo_icon_list:user %}
<header class="rn-padding">

  {% if air_nanitozo_icon_list %}
  <div class="uk-text-right">
    {% for nanitozo_icon in air_nanitozo_icon_list %}<span uk-icon="{{ nanitozo_icon.0.value }}" class="uk-icon{% if nanitozo_icon.1 %} uk-text-success{% endif %}"></span>{% endfor %}
  </div>
  {% endif %}

  <h1 class="uk-text-lead uk-margin-remove">{{ air.name }}</h1>
  <h2 class="uk-text-default uk-margin-remove-top uk-margin-small-bottom">
    {{ air.started_at|rn_ymdhm }} {{ adt.airtime }}<small>min</small>
  </h2>

  {% if air.broadcaster %}

  <div class="uk-flex uk-flex-middle">
    <span uk-icon="icon: microphone" class="uk-icon"></span>
    <span class="uk-text-middle mgl-s"><a href="{% url 'airs:broadcaster' air.broadcaster.id %}">{{ air.broadcaster.name }}</a></span>
  </div>

  <div class="uk-flex uk-flex-middle">
    <span uk-icon="icon: link" class="uk-icon"></span>
    <span class="uk-text-middle mgl-s"><a href="{{ air.started_at|radiko_link:air.broadcaster.radiko_identifier }}" target="_blank" rel="noopener noreferrer">radiko</a></span>
    <span class="uk-text-middle uk-margin-small-left"><a href="javascript:void(0)" onclick="copyToClipboardAndShowAlert('{{ air.started_at|radiko_link:air.broadcaster.radiko_identifier }}')">URLコピー</a></span>
    <span class="uk-text-middle uk-margin-small-left"><a href="{{ air.started_at|radiko_link_next_week:air.broadcaster.radiko_identifier }}" target="_blank" rel="noopener noreferrer">radiko+1w</a></span>
  </div>

  {% endif %}

  {% if air.program %}
  <div class="uk-flex uk-flex-middle">
    <span uk-icon="icon: info" class="uk-icon"></span>
    <span class="uk-text-middle mgl-s"><a href="{% url 'airs:program' air.program.id %}">{{ air.program.name }}</a></span>
  </div>
  {% endif %}
</header>
{% endwith %}

<hr class="uk-divider-small uk-margin-remove">

{% comment %} 放送概要表示 ここから {% endcomment %}
<div class="rn-padding">
  {% include 'base/block_comment.html' with header='事前告知' description='ネタバレなし（のはず）' comment=air.overview_before nodata='入力なし' %}
  {% include 'base/block_comment.html' with header='番組内容' description='ネタバレあり' comment=air.overview_after nodata='入力なし' %}
</div>
{% comment %} 放送概要表示 ここまで {% endcomment %}