{% extends 'airs/base.html' %}
{% load rn_const %}
{% load rn_datetime %}

{% block title %}{{ air.name }} {{ air.started_at|rn_ymdhm }} {{ air.broadcaster.name }}{% rn_const 'TITLE_SUFFIX' %}{% endblock title %}

{% block header %}
{% endblock header %}

{% block nav %}
{% include 'airs/air_detail_navbar.html' with air=air  is_detail_page=True %}
{% endblock nav %}

{% block content %}

{% include 'airs/air_detail_header_block.html' with air=air %}

{% include 'airs/air_detail_nanitozo_block.html' with air=air  %}

{% endblock content %}