{% extends 'airs/base.html' %}
{% load rn_datetime %}

{% block title %}{{ air.name }} {{ air.started_at|rn_ymdhm }} {{ air.broadcaster.name }} - R.N.{% endblock title %}

{% block header %}
{% endblock header %}

{% block nav %}
{% if user.is_authenticated %}
<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left"></div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><a href="{% url 'airs:air_update' air.id %}">放送概要編集</a></li>
      {% if my_nanitozo %}
      <li><a href="{% url 'airs:nanitozo_update' my_nanitozo.id %}">何卒編集</a></li>
      <li>
        <a href="#">…</a>
        <div uk-dropdown="pos: top-center">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li>
              <a href="#nanitozo-delete" uk-toggle>何卒取消</a>
              <div id="nanitozo-delete" uk-modal>
                <div class="uk-modal-dialog">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <div class="uk-modal-header">
                    <h2 class="uk-modal-title">何卒を取り消す</h2>
                  </div>
                  <div class="uk-modal-body">
                    <p>何卒を取り消す場合は「実行」をタップ！<br><br><span class="uk-text-danger">※投稿した各種感想文も削除されます</span><br><span class="uk-text-danger">※放送は削除されないしできません（必要があれば管理者に依頼を）</span></p>
                  </div>
                  <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">キャンセル</button>
                    <a href="{% url 'airs:nanitozo_delete' air_id=air.id pk=my_nanitozo.id %}" class="uk-button uk-button-danger" type="button">実行</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      {% else %}
      <li><a href="{% url 'airs:nanitozo_create' air.id %}" class="uk-text-primary">何卒！</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<hr class="uk-margin-remove">

{% comment %} <a class="uk-button uk-button-danger uk-width-1-1 uk-margin-bottom" href="#nanitozo-delete" uk-toggle>何卒取消</a> {% endcomment %}

{% endif %}
{% endblock nav %}

{% block content %}

{% with adt=air.started_at|init_rn_datetime:air.ended_at %}
<header class="rn-padding">
  <h1 class="uk-text-lead uk-margin-remove">{{ air.name }}</h1>
  <h2 class="uk-text-default uk-margin-remove-top uk-margin-small-bottom">
    {{ air.started_at|rn_ymdhm }} {{ adt.airtime }}<small>min</small>
  </h2>

  {% if air.broadcaster %}

  <div class="uk-flex uk-flex-middle">
    <span uk-icon="icon: microphone" class="uk-icon"></span>
    <span class="uk-text-middle mgl-s"><a href="{% url 'airs:broadcaster' air.broadcaster.id %}">{{ air.broadcaster.name }}</a></span>
  </div>

  <div class="uk-flex uk-flex-middle">
    <span uk-icon="icon: link" class="uk-icon"></span>
    <span class="uk-text-middle mgl-s"><a href="{{ air.started_at|radiko_link:air.broadcaster.radiko_identifier }}" target="_blank" rel="noopener noreferrer">radiko</a></span>
    <span class="uk-text-middle uk-margin-small-left"><a href="#" onclick="copyToClipboardAndShowAlert('{{ air.started_at|radiko_link:air.broadcaster.radiko_identifier }}')">URLコピー</a></span>
    <span class="uk-text-middle uk-margin-small-left"><a href="{{ air.started_at|radiko_link_next_week:air.broadcaster.radiko_identifier }}" target="_blank" rel="noopener noreferrer">radiko+1w</a></span>
  </div>

  {% endif %}

  {% if air.program %}
  <div class="uk-flex uk-flex-middle">
    <span uk-icon="icon: info" class="uk-icon"></span>
    <span class="uk-text-middle mgl-s"><a href="{% url 'airs:program' air.program.id %}">{{ air.program.name }}</a></span>
  </div>
  {% endif %}
</header>
{% endwith %}

{% include 'base/separator.html' %}

<div class="rn-padding">
  {% comment %} 何卒 {% endcomment %}
  {% include 'base/sum_reaction.html' with nanitozo_list=nanitozo_list icon='icon: user' label='何卒' is_negative=False %}
  {% comment %} 満足 {% endcomment %}
  {% include 'base/sum_reaction.html' with nanitozo_list=good_nanitozo_list icon='icon: happy' label='満足' is_negative=False %}
  {% comment %} 推し {% endcomment %}
  {% include 'base/sum_reaction.html' with nanitozo_list=comment_open_recommend_nanitozo_list icon='icon: star' label='推し' is_negative=False %}
  {% comment %} 感想 {% endcomment %}
  {% include 'base/sum_reaction.html' with nanitozo_list=comment_open_nanitozo_list icon='icon: comment' label='感想' is_negative=False %}
  {% comment %} ネガ {% endcomment %}
  {% include 'base/sum_reaction.html' with nanitozo_list=comment_open_negative_nanitozo_list icon='icon: paint-bucket' label='ネガ' is_negative=True %}
</div>

{% include 'base/separator.html' %}

<div class="rn-padding">
  <h3 class="uk-text-default uk-margin-small-bottom">事前告知<small> ネタバレなし（のはず）</small></h3>
  {% if air.overview_before %}
  <div class="uk-inline">
    <p class="uk-text-small uk-margin-remove uk-text-break">{{ air.overview_before|linebreaksbr }}</p>
    <div onclick="this.remove()" class="uk-overlay-primary uk-background-secondary uk-position-cover">
      <div class="uk-position-center uk-text-small">Tap!</div>
    </div>
  </div>
  {% else %}
  <p class="uk-text-small uk-margin-remove">データなし</p>
  {% endif %}

  <h3 class="uk-text-default uk-margin-small-bottom">番組内容<small> ネタバレあり</small></h3>
  {% if air.overview_after %}
  <div class="uk-inline">
    <p class="uk-text-small uk-margin-remove uk-text-break">{{ air.overview_after|linebreaksbr }}</p>
    <div onclick="this.remove()" class="uk-overlay-primary uk-background-secondary uk-position-cover">
      <div class="uk-position-center uk-text-small">Tap!</div>
    </div>
  </div>
  {% else %}
  <p class="uk-text-small uk-margin-remove">データなし</p>
  {% endif %}
</div>

{% include 'base/separator.html' %}

{% include 'list/item_reaction.html' with title='推し' nanitozo_list=comment_open_recommend_nanitozo_list %}

{% include 'base/separator.html' %}

{% include 'list/item_reaction.html' with title='感想' nanitozo_list=comment_open_nanitozo_list %}

{% include 'base/separator.html' %}

{% include 'list/item_reaction.html' with title='ネガ' nanitozo_list=comment_open_negative_nanitozo_list %}

{% endblock content %}