{% extends 'airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}事前告知と放送内容の編集 - R.N. v2.0{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<article class="rn-padding">
    <h1 class="uk-text-lead uk-margin-remove-bottom">事前告知と放送内容の編集</h1>
    <p class="uk-article-meta uk-margin-remove-top">※この項目は共同編集で同時に他のリスナーが編集してたら上書きしてしまうので極力手早くお願いします（そのうち編集中でもいい感じに気付けるように修正します）</p>
</article>

{% include 'base/separator.html' %}

<article class="rn-padding">
    <form method="post">{% csrf_token %}
        <p class="uk-margin-remove"><label for="id_overview_before">事前告知<small> ネタバレなし</small></label>
        <textarea name="overview_before" rows="4" id="id_overview_before" class="uk-textarea mgt-s" placeholder="ゲスト：なかやまきんに君
・筋肉ルーレットカジノ">{{ air.overview_before }}</textarea></p>
        <p class="uk-article-meta uk-margin-remove-top uk-margin-bottom">※前回の放送や放送前にTwitterで告知があったゲストや企画</p>

        <p class="uk-margin-remove"><label for="id_overview_after">放送内容<small> ネタバレあり</small></label>
        <textarea name="overview_after" rows="4" id="id_overview_after" class="uk-textarea mgt-s" placeholder="飛び入りゲスト：岡村隆史
・ご飯炊き対決
・ネスミスはパン">{{ air.overview_after }}</textarea></p>
        <p class="uk-article-meta uk-margin-remove-top uk-margin-bottom">※放送前に発表がなかったゲストや企画<br>　放送内の印象的なワード</p>

        <input type="submit" value="更新" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
    </form>
</article>
{% endblock content %}