{% extends 'airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}R.N. v2.0.2{% endblock title %}

{% block header %}
{% endblock header %}

{% block nav %}
<nav class="uk-navbar-container" uk-navbar>
    <h1 class="uk-navbar-left uk-text-default uk-margin-remove rn-padding">放送登録&nbsp;&amp;&nbsp;何卒</h1>
    <div class="uk-navbar-right">
        <input type="submit" form="form" value="&nbsp;登録&nbsp;" class="uk-button uk-button-primary uk-button rn-padding-horizontal mg-s">
    </div>
</nav>
<hr class="uk-margin-remove">
{% endblock nav %}

{% block content %}
<form id="form" method="post">{% csrf_token %}
    <fieldset class="uk-fieldset">
        <div class="rn-padding">
            <input name="overview_before" id="id_share_text" maxlength="400" required="required" class="uk-input" type="text" placeholder="シェアラジオをコピペ" autofocus>
        </div>
    </fieldset>
</form>

<hr class="uk-margin-remove">

<div class="rn-padding uk-text-small" style="flex-wrap: wrap;">
    <h2 class="uk-text-default uk-margin-remove">シェアラジオの例</h2>
    <p style="word-break: break-all;">例1 基本：<br>
        番組名 | 放送局 | 2021/07/12/月 24:00-25:00 https://radiko.jp/share/?sid=TBS&t=20210713000000<br>
        <br>
        例2 SNS版：<br>
        番組名 │ 放送局 | https://radiko.jp/share/?sid=TBS&t=20210713000000 #radiko #タグ1 #タグ2 #タグ3<br>
        <br>
        例3 URLのみ：<br>
        https://radiko.jp/share/?sid=TBS&t=20210713000000</p>

    <h2 class="uk-text-default uk-margin-remove">補足</h2>
    <ul>
        <li>送信内容からradikoのURLを抜き出して放送情報を取得へ</li>
        <li>サイトのタイトルだけ見るのでTF期間が終わると取得不可</li>
        <li>不必要な連打はやめて</li>
    </ul>
</div>
{% endblock content %}