{% extends 'airs/base.html' %}
{% load rn_const %}
{% load rn_datetime %}

{% block title %}{% rn_const 'SITE_NAME' %}{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<ul class="uk-tab" data-uk-tab="{connect:'#tab-contents'}">
    <li><a href="">{% rn_const 'THIS_WEEK' %}<small> {{ this_week_list|length }}</small></a></li>
    <li><a href="">{% rn_const 'LAST_WEEK' %}<small> {{ last_week_list|length }}</small></a></li>
    {% if user.is_authenticated %}
    <li><a href="">未<small> {{ un_nanitozo_list|length }}</small></a></li>
    {% comment %} <li><a href="">YOU<small> {{ my_this_week_list|length }},{{ my_last_week_list|length }},{{ un_nanitozo_list|length }}</small></a></li> {% endcomment %}
    {% endif %}
</ul>

<article id="tab-contents" class="uk-switcher">
    {% comment %} タブ1 {% endcomment %}
    <div class="rn-padding">
        {% comment %} 今週の放送 {% endcomment %}
        {% if this_week_list %}
        {% regroup this_week_list by started_at|rn_regroup_date as airs %}

        {% for started_at, local_airs in airs %}
        {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

        {% for air in local_airs %}
        {% include 'list/item_air.html' with air=air %}
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>{% rn_const 'NONE_THIS_WEEK' %}</p>
        {% endif %}
    </div>

    {% comment %} タブ2 {% endcomment %}
    <div class="rn-padding">
        {% comment %} 先週の放送 {% endcomment %}
        {% if last_week_list %}
        {% regroup last_week_list by started_at|rn_regroup_date as airs %}

        {% for started_at, local_airs in airs %}
        {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

        {% for air in local_airs %}
        {% include 'list/item_air.html' with air=air %}
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>{% rn_const 'NONE_LAST_WEEK' %}</p>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    {% comment %} タブ3 {% endcomment %}
    <div class="rn-padding">
        {% comment %} 先週の放送 {% endcomment %}
        {% if un_nanitozo_list %}
        {% regroup un_nanitozo_list by started_at|rn_regroup_date as airs %}

        {% for started_at, local_airs in airs %}
        {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

        {% for air in local_airs %}
        {% include 'list/item_air.html' with air=air %}
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>"未"なし</p>
        {% endif %}
    </div>

    {% comment %}
    <div>
        <!-- スイッチ -->
        <ul class="uk-tab-bottom" uk-tab>
            <li class="uk-active"><a href="">今週<small> {{ my_this_week_list|length }}</small></a></li>
            <li><a href="">先週<small> {{ my_last_week_list|length }}</small></a></li>
            <li><a href="">未<small> {{ un_nanitozo_list|length }}</small></a></li>
        </ul>

        <article id="tab-contents" class="uk-switcher rn-padding">
            <div>
                <!-- 今週の放送 -->
                {% if my_this_week_list %}
                {% regroup my_this_week_list by started_at|rn_regroup_date as airs %}

                {% for started_at, local_airs in airs %}
                {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

                {% for air in local_airs %}
                {% include 'list/item_air.html' with air=air %}
                {% endfor %}

                {% endfor %}

                {% else %}
                <p>{% rn_const 'NONE_THIS_WEEK' %}</p>
                {% endif %}
            </div>

            <div>
                <!-- 先週の放送 -->
                {% if my_last_week_list %}
                {% regroup my_last_week_list by started_at|rn_regroup_date as airs %}

                {% for started_at, local_airs in airs %}
                {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

                {% for air in local_airs %}
                {% include 'list/item_air.html' with air=air %}
                {% endfor %}

                {% endfor %}

                {% else %}
                <p>{% rn_const 'NONE_LAST_WEEK' %}</p>
                {% endif %}
            </div>

            <div>
                <!-- 未の放送 -->
                {% if un_nanitozo_list %}
                {% regroup un_nanitozo_list by started_at|rn_regroup_date as airs %}

                {% for started_at, local_airs in airs %}
                {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

                {% for air in local_airs %}
                {% include 'list/item_air.html' with air=air %}
                {% endfor %}

                {% endfor %}

                {% else %}
                <p>"未"なし</p>
                {% endif %}
            </div>
        </article>

    </div>
    {% endcomment %}
    {% endif %}

</article>
{% endblock content %}