{% extends 'airs/base.html' %}
{% load rn_const %}
{% load rn_datetime %}

{% block title %}{% rn_const 'SITE_NAME' %}{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<ul class="uk-tab" data-uk-tab="{connect:'#tab-contents'}">
    <li><a href="">{% rn_const 'THIS_WEEK' %}<small> {{ this_week_list|length }}</small></a></li>
    <li><a href="">{% rn_const 'LAST_WEEK' %}<small> {{ last_week_list|length }}</small></a></li>

    {% comment %} # TODO オススメ放送取得（2/3） {% endcomment %}
    {% comment %} <li><a href="">!!</a></li> {% endcomment %}
</ul>

<article id="tab-contents" class="uk-switcher rn-padding">
    {% comment %} タブ1 {% endcomment %}
    <div>
        {% if this_week_list %}
        {% regroup this_week_list by started_at|rn_regroup_date as airs %}

        {% for started_at, local_airs in airs %}
        {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

        {% for air in local_airs %}
        {% include 'list/item_air.html' with air=air %}
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>{% rn_const 'NONE_THIS_WEEK' %}</p>
        {% endif %}
    </div>

    {% comment %} タブ2 {% endcomment %}
    <div>
        {% if last_week_list %}
        {% regroup last_week_list by started_at|rn_regroup_date as airs %}

        {% for started_at, local_airs in airs %}
        {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

        {% for air in local_airs %}
        {% include 'list/item_air.html' with air=air %}
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>{% rn_const 'NONE_LAST_WEEK' %}</p>
        {% endif %}
    </div>

    {% comment %} タブ3 {% endcomment %}

    {% comment %} # TODO オススメ放送取得（3/3） {% endcomment %}
    {% comment %} <div>
        {% if recommend_list %}
        {% regroup recommend_list by started_at|rn_regroup_date as airs %}

        {% for started_at, local_airs in airs %}
        {% include 'base/lead.html' with title=started_at|rn_regrouped_date_weekday caption=started_at|rn_regrouped_date_md %}

        {% for air in local_airs %}
        {% include 'list/item_air.html' with air=air %}
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>データなし</p>
        {% endif %}
    </div> {% endcomment %}

</article>
{% endblock content %}