{% load static %}
{% load rn_const %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1e87f0">

  <link rel="icon" href="{% static 'favicon.ico' %}">

  {% comment %} UIkit CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'airs/css/uikit.min.css' %}">

  <link rel="stylesheet" href="{% static 'airs/css/style.css' %}?20220319">

  {% comment %} WEB FONT ...size(400 300 100) {% endcomment %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto:400&display=swap">

  {% block header %}
  {% endblock header %}
</head>

<body>
  <div id="app"></div>
  <div class="wrapper">
    {% block nav %}
    {% endblock nav %}
    <div class="content">
      {% if messages %}
      {% for message in messages %}
      <div class="{% if message.tags == 'debug' or message.tags == 'info' %}uk-alert-primary
{% elif message.tags == 'success' %}uk-alert-success
{% elif message.tags == 'warning' %}uk-alert-warning
{% elif message.tags == 'error' %}uk-alert-danger
{% endif %} uk-margin-remove" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message | linebreaksbr }}</p>
      </div>
      <hr class="uk-margin-remove">
      {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}
    </div>

    {% comment %} 入力フォームじゃない場合に下ナビ表示 {% endcomment %}
    {% if request.resolver_match.url_name != 'nanitozo_update' and request.resolver_match.url_name != 'air_create' and request.resolver_match.url_name != 'air_update' %}

    <footer>
      <hr class="uk-margin-remove">
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="{% if request.resolver_match.url_name == 'index' %}uk-active{% endif %}"><a href="{% url 'airs:index' %}">{% rn_const 'TITLE_AIR_LIST' %}</a></li>
            <li class="{% if request.resolver_match.url_name == 'ns' %}uk-active{% endif %}"><a href="{% url 'airs:ns' %}">{% rn_const 'TITLE_NANITOZO_LIST' %}</a></li>
            {% comment %} {% if request.resolver_match.url_name == 'users' %}
            <li class="uk-active"><a href="{% url 'airs:users' %}">リスナー</a></li>
            {% elif request.resolver_match.url_name == 'broadcasters' %}
            <li class="uk-active"><a href="{% url 'airs:broadcasters' %}">放送局</a></li>
            {% elif request.resolver_match.url_name == 'programs' %}
            <li class="uk-active"><a href="{% url 'airs:programs' %}">番組</a></li>
            {% endif %} {% endcomment %}
            <li>
              <a href="#">…</a>
              <div uk-dropdown="pos: top-center">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="{% if request.resolver_match.url_name == 'users' %}uk-active{% endif %}"><a href="{% url 'airs:users' %}">{% rn_const 'TITLE_USER_LIST' %}</a></li>
                  <li class="{% if request.resolver_match.url_name == 'broadcasters' %}uk-active{% endif %}"><a href="{% url 'airs:broadcasters' %}">{% rn_const 'TITLE_BROADCASTER_LIST' %}</a></li>
                  <li class="{% if request.resolver_match.url_name == 'programs' %}uk-active{% endif %}"><a href="{% url 'airs:programs' %}">{% rn_const 'TITLE_PROGRAM_LIST' %}</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          {% if user.is_authenticated %}
          <ul class="uk-navbar-nav">
            <li>
              <a>{{ user.last_name }}</a>
              <div uk-dropdown="pos: top-center">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-nav-header">{{ user.last_name }}</li>
                  <li><a href="{% url 'password_change' %}" target="_blank" rel="noopener noreferrer">{% rn_const 'TITLE_PASSWORD_CHANGE' %}</a></li>
                  <li><a href="javascript:window.location.replace('{% url 'logout' %}')">{% rn_const 'TITLE_LOGOUT' %}</a></li>
                  <li class="uk-nav-divider uk-margin-small-bottom"></li>
                  <li>{% rn_const 'SITE_NAME' %}</li>
                </ul>
              </div>
            </li>
          </ul>
          <a href="{% url 'airs:air_create' %}" class="uk-button uk-button-primary rn-padding-horizontal">{% rn_const 'TITLE_AIR_CREATE_SHORT' %}</a>
          {% else %}
          <ul class="uk-navbar-nav">
            <li><a href="{% url 'login' %}">{% rn_const 'TITLE_LOGIN' %}</a></li>
          </ul>
          {% endif %}
        </div>
      </nav>
    </footer>

    {% endif %}

  </div>


  {% comment %} UIkit JS {% endcomment %}
  <script src="{% static 'airs/js/uikit.min.js' %}"></script>
  <script src="{% static 'airs/js/uikit-icons.min.js' %}"></script>
  <script src="{% static 'airs/js/script.js' %}?20220320"></script>
</body>

</html>