{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1e87f0">

  <link rel="icon" href="{% static 'favicon.ico' %}">

  {% comment %} UIkit CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'airs/css/uikit.min.css' %}">

  <link rel="stylesheet" href="{% static 'airs/css/style.css' %}">

  {% comment %} WEB FONT ...size(400 300 100) {% endcomment %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto:400&display=swap">

  {% block header %}
  {% endblock header %}
</head>
<body>
  <div id="app"></div>
    <header id="header" class="uk-background-primary">
      <div class="uk-light rn-padding uk-grid-collapse uk-flex-middle" uk-grid>
      <h1 class="uk-width-expand uk-text-small uk-margin-remove uk-margin-right"><a href="/" class="uk-link-reset">R.N.<small>v2.0 検討中</small></a></h1>
      <ul class="uk-width-auto uk-iconnav">
        {% if user.is_authenticated %}
        <li><a href="#" uk-icon="icon: plus; ratio: 0.8"></a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}" uk-icon="icon: sign-out; ratio: 0.8"></a></li>
        {% else %}
        <li><a href="{% url 'login' %}" uk-icon="icon: sign-in; ratio: 0.8"></a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <div class="uk-width-auto mgl-m">
        <span class="uk-article-meta">{{ user.first_name }}</span>
      </div>
      {% endif %}
    </div>
  </header>

  <article id="members" class="rn-padding">
    {% block content %}
    {% endblock content %}
  </article>

  <div>
    <div class="uk-text-right rn-padding"><a href="#" uk-totop uk-scroll></a></div>
    <hr class="uk-margin-remove">
    <footer class="uk-panel uk-text-center uk-article-meta rn-padding">R.N.</footer>
  </div>

  {% comment %} UIkit JS {% endcomment %}
  <script src="{% static 'airs/js/uikit.min.js' %}"></script>
  <script src="{% static 'airs/js/uikit-icons.min.js' %}"></script>
</body>
</html>