{% extends 'airs/base.html' %}
{% load rn_const %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}{{ broadcaster.name }}{% rn_const 'TITLE_SUFFIX' %}{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<article>

  <div class="rn-padding">
    <h1 class="uk-text-lead uk-margin-remove">{{ broadcaster.name }}</h1>
    <h2 class="uk-text-default uk-margin-remove-top uk-margin-small-bottom">
      {{ broadcaster.abbreviation }}
    </h2>

    {% if broadcaster.site_url %}
    <div class="uk-flex uk-flex-middle">
      <span uk-icon="icon: home" class="uk-icon"></span>
      <span class="uk-text-middle mgl-s"><a href="{{ broadcaster.site_url }}" target="_blank">公式サイト</a></span>
    </div>
    {% endif %}

    {% if broadcaster.wikipedia_url %}
    <div class="uk-flex uk-flex-middle">
      <span uk-icon="icon: world" class="uk-icon"></span>
      <span class="uk-text-middle mgl-s"><a href="{{ broadcaster.wikipedia_url }}" target="_blank">Wikipedia</a></span>
    </div>
    {% endif %}

    {% if broadcaster.address %}
    <div class="uk-flex uk-flex-middle">
      <span uk-icon="icon: location" class="uk-icon"></span>
      <span class="uk-text-middle mgl-s"><a href="https://www.google.com/maps/search/{{ broadcaster.address }}?hl=ja&source=opensearch" target="_blank">Map</a></span>
    </div>
    {% endif %}
  </div>

  <div class="rn-padding">
    {% include 'list/item_monthly_count.html' with unit='放送' %}
  </div>

</article>
{% endblock content %}