{% extends 'airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}{{ broadcaster.name }} - R.N.{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<article class="rn-padding">
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <h1 class="uk-text-lead">{{ broadcaster.name }}</h1>

  <dl class="uk-description-list">
    <dt>略称</dt>
    <dd>{{ broadcaster.abbreviation }}</dd>

    <dt>サイトURL</dt>
    <dd><a href="{{ broadcaster.site_url }}" target="_blank">{{ broadcaster.site_url }}</a></dd>

    <dt>Wikipedia</dt>
    <dd><a href="{{ broadcaster.wikipedia_url }}" target="_blank">{{ broadcaster.wikipedia_url }}</a></dd>

    <dt>放送対象地域</dt>
    <dd>{{ broadcaster.area }}</dd>

    <dt>所在地</dt>
    <dd>{{ broadcaster.address }}</dd>

    <dt>キーワード</dt>
    <dd>{{ broadcaster.keyword }}</dd>
  </dl>

</article>
{% endblock content %}