<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>{{ air }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'airs:vote' air.id %}" method="post">{% csrf_token %}
    {% for nanitozo in air.nanitozo_set.all %}
      <input type="radio" name="nanitozo" id="nanitozo{{ forloop.counter }}" value="{{ nanitozo.id }}">
      <label for="nanitozo{{ forloop.counter }}">{{ nanitozo.comment }}</label><br>
    {% endfor %}
      <input type="submit" value="Vote">
    </form>

  </body>
</html>
