{% extends 'airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}R.N. v2.0{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

<ul uk-tab>
    <li class="uk-active"><a href="#" class="transform-none">放送</a></li>
    <li><a href="#" class="transform-none">何卒</a></li>
    <li>
        <a href="#">…<span class="uk-margin-small-left" uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-active"><a href="#">リスナー</a></li>
                <li><a href="#">放送局</a></li>
                <li><a href="#">番組</a></li>
                <li><a href="#">出演者</a></li>
            </ul>
        </div>
    </li>
</ul>

<ul uk-tab>
    <li class="uk-active"><a href="#" class="transform-none">!!</a></li>
    <li><a href="#" class="transform-none">1w<span class="uk-article-meta"> 88(999h)</span></a></li>
    <li><a href="#" class="transform-none">2w<span class="uk-article-meta"> 88(999h)</span></a></li>
</ul>

<ul uk-tab>
    <li class="uk-active"><a href="#" class="transform-none">新着</a></li>
    <li><a href="#" class="transform-none">下書き</a></li>
</ul>


<div class="uk-margin-bottom uk-animation-toggle" tabindex="0">
    {% include 'base/lead.html' with title='火' caption='6/22' %}

    <a href="#" class="uk-display-block uk-link-reset uk-animation-slide-bottom-small border-left-muted">

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-expand uk-text-truncate uk-text-small">
                <span class="mgr-s">24:00</span><span class="mgr-s">121<small>min</small></span><span class="mgr-s">ニッポン放送という有楽町にあるあのラジオ放送局</span>
            </h5>
            {% include 'airs/reactions.html' with recommend_count='99' favorite_count='99' review_count='99' listener_count='99' %}
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h4 class="uk-width-expand uk-text-truncate uk-text-small">マヂカルラブリー&モダンタイムス&アルコ&ピースのオールナイトニッポンZERO(0)</h4>
            <div class="mgl-s uk-text-small">999pt</div>
        </div>
    </a>
</div>

<div class="uk-margin-bottom uk-animation-toggle" tabindex="0">
    {% include 'base/lead.html' with title='水' caption='6/23' %}

    <a href="#" class="uk-display-block uk-link-reset uk-animation-slide-bottom-small border-left-muted">

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <span class="mgr-s uk-text-small">SHG</span>
            <span uk-icon="icon: comment; ratio: 0.7" class="mgr-s"></span>
            <span uk-icon="icon: happy; ratio: 0.7" class="mgr-s"></span>
            <span uk-icon="icon: star; ratio: 0.7" class="mgr-s"></span>
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h5 class="uk-width-expand uk-text-truncate uk-text-small">
                <span class="mgr-s">水</span><span class="mgr-s">12/16</span><span class="mgr-s">24:00</span><span class="mgr-s">120<small>min</small></span><span class="mgr-s">ニッポン放送という有楽町にあるあのラジオ放送局</span>
            </h5>
            {% include 'airs/reactions.html' with recommend_count='99' favorite_count='99' review_count='99' listener_count='99' %}
        </div>

        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <h4 class="uk-width-expand uk-text-truncate uk-text-small">マヂカルラブリー&モダンタイムス&アルコ&ピースのオールナイトニッポンZERO(0)</h4>
            <div class="mgl-s uk-text-small">999pt</div>
        </div>
    </a>
</div>






{% comment %} サンプルデータ {% endcomment %}
{% if latest_air_list %}

<ul>
    {% for air in latest_air_list %}
    <li><a href="{% url 'airs:detail' air.id %}">{{ air }}</a></li>
    {% endfor %}
</ul>

{% else %}

<p>何卒0(ZERO)</p>

{% endif %}

{% endblock content %}