{% extends 'airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}番組 - R.N. v2.0.1{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<article class="rn-padding">
    <h1 class="uk-text-lead">番組</h1>

    {% if program_list %}

    {% for program in program_list %}

    <div class="uk-margin-bottom uk-animation-toggle" tabindex="0">
        <a href="{% url 'airs:program' program.id %}" class="uk-display-block uk-link-reset uk-animation-slide-bottom-small border-left-muted">
            <div class="uk-grid-collapse uk-flex-middle" uk-grid>
                <h2 class="uk-width-expand uk-text-truncate uk-text-small">{{ program.name }}</h2>
            </div>
        </a>
    </div>

    {% endfor %}

    {% include 'base/pagination.html' %}

    {% else %}

    <p>データなし（ありえない）</p>

    {% endif %}

</article>
{% endblock content %}