<div class="uk-article-meta uk-flex uk-flex-middle">
    {% comment %} 推し数 {% endcomment %}
    {% include 'base/icon.html' with icon='star' %}<span class="mgr-s">{{ recommend_count }}</span>
    {% comment %} 満足数 {% endcomment %}
    {% include 'base/icon.html' with icon='happy' %}</span><span class="mgr-s">{{ favorite_count }}</span>
    {% comment %} コメント数 {% endcomment %}
    {% include 'base/icon.html' with icon='comment' %}<span class="mgr-s">{{ review_count }}</span>
    {% comment %} リスナー数 {% endcomment %}
    {% include 'base/icon.html' with icon='user' %}<span>{{ listener_count }}</span>
</div>