{% extends 'airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}{{ air }} - R.N.{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<article class="rn-padding">
  <h1 class="uk-text-lead">リスナー詳細</h1>
</article>

<h1>{{ air }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'airs:vote' air.id %}" method="post">{% csrf_token %}
{% for nanitozo in air.nanitozo_set.all %}
  <input type="radio" name="nanitozo" id="nanitozo{{ forloop.counter }}" value="{{ nanitozo.id }}">
  <label for="nanitozo{{ forloop.counter }}">{{ nanitozo.comment }}</label><br>
{% endfor %}
  <input type="submit" value="Vote" class="uk-button uk-button-default">
</form>

{% endblock content %}
