{% extends 'airs/base.html' %}
{% load rn_const %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}{{ user }}{% rn_const 'TITLE_SUFFIX' %}{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<article class="rn-padding">
  {% if not user.is_superuser %}

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <h1 class="uk-text-lead">{{ user.last_name }}</h1>

  <dl class="uk-description-list">
    <dt>TODO：</dt>
    <dd>関連情報を表示する</dd>
  </dl>

  {% comment %} {% else %} {% endcomment %}
  {% comment %} TODO superuserの場合は何かしらエラーを表示した方がいいかもしれない {% endcomment %}
  {% endif %}
</article>
{% endblock content %}