{% extends '../airs/base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% load widget_tweaks %}

{% block title %}ログイン - R.N.{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<article class="rn-padding">
    <h1 class="uk-text-lead">　</h1>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">{% csrf_token %}
        <div class="uk-margin-bottom">
            <div class="uk-margin-small-bottom uk-text-small">ログインID{% comment %}{{ form.username.label_tag }}{% endcomment %}</div>
            {{ form.username|add_class:"uk-input" }}
        </div>

        <div class="uk-margin-large-bottom">
            <div class="uk-margin-small-bottom uk-text-small">パスワード{% comment %}{{ form.password.label_tag }}{% endcomment %}</div>
            {{ form.password|add_class:"uk-input" }}
        </div>

        <input type="submit" value="ログイン" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

</article>
{% endblock content %}