<div class="uk-grid-collapse uk-flex-middle" uk-grid>
    <div>
        <span uk-icon="{{ icon }}" class="uk-icon"></span><span class="uk-text-middle mgl-s">{{ nanitozo_list|length }}</span>
    </div>
    {% if is_negative == False %}
    <div class="uk-width-expand uk-text-truncate uk-text-small uk-margin-small-left mgt-s">
        {% for nanitozo in nanitozo_list %}<a href="{% url 'airs:user' nanitozo.user.id %}">{{ nanitozo.user.last_name }}</a> {% endfor %}
    </div>
    {% endif %}
</div>